:root {
  --color-primary: #2584ff; //主要颜色
  --color-secondary: #00d9ff; //次要颜色
  --color-accent: #ff3400; //重点颜色

  --color-headings: #1b0760; //标题
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc; // 边框
  --border-radius: 30px; // 圆角
}
// 字体
html {
  font-size: 62.5%;
}
// 排版
::selection{
  background: var(--color-primary);
  color: #fff;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

// 链接
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: ">";
  margin-left: 5px;
  transition: margin 0.5s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

// 标签
.badge {
  white-space: nowrap;
  padding: 0.5rem 2rem;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 20px;
}
// 主要标签
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
// 次要标签
.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}
// 小的
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

// 列表
.list {
  list-style: none;
  padding-left: 0;
  font-size: bold;
}
// 行
.list--inline {
  .list__item {
    display: inline-block;
    margin-right: 2rem;
  }
}
// 打勾的
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);

  .list--item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

// icon
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #05cdf0;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
// input
.input {
  padding: 1.5rem 3.5rem;
  outline: 0;
  font-size: 2rem;
  color: var(--color-headings);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  &::placeholder {
    color: #cdcbd7;
  }
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  .input {
    padding: 1.5rem 2rem;

    border: 0;
    flex-grow: 1;
  }
  .btn {
    margin: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

// 卡片
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
  border-radius: 7px 7px 0 0;
}

.card--primary {
  .card__header {
    background: var(--color-primary);
    color: #fff;
  }
  .badge--primary {
    background: #126de4;
  }
}

.card--sencondary {
  .card__header {
    background: var(--color-secondary);
    color: #fff;
  }
  .badge--secondary {
    background: #02cdf1;
  }
}

// plan
.plan {
  transition: transform 0.2s ease-out;
}
.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 200;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan__description {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
}

.plan {
  .list__item {
    margin-bottom: 1.2rem;
    font-size: 2.2rem;
  }
}

.plan--popular {
  .card__header {
    position: relative;
  }
  .card__header::before {
    content: url(../images/popular.svg);
    display: inline-block;
    width: 40px;
    position: absolute;
    top: -6px;
    right: 5%;
  }
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
  .plan--popular {
    transform: scale(1.1);
    &:hover {
      transform: scale(1.15);
    }

    .card__header::before {
      width: 35px;
      top: -4px;
      right: 8%;
    }
  }
}

// meida

.media {
  display: flex;
  margin-bottom: 4rem;
  .media__title {
    margin-top: 0;
  }

  .media__body {
    margin: 0 2rem;
  }

  .media__image {
    margin-top: 1rem;
  }
}

//quote

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

.quote__author {
  font-size: 2.8rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}
.quote__organization {
  font-size: 1.8rem;
  color: var(--color-headings);
  opacity: 0.4;
  font-style: normal;
}
.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2rem;
  }
  .quote__organization {
    font-size: 1.4rem;
  }
}

// grids

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// 推荐组件
.testimonial {
  padding: 3rem;
  .testimonial__image {
    position: relative;
    & > img {
      width: 100%;
    }
    & > .icon-container {
      position: absolute;
      top: 3rem;
      right: -32px;
    }
  }
}

@media screen and (min-width: 768px) {
  .testimonial {
    .quote,
    .quote__author {
      font-size: 2.4rem;
    }
    .quote {
      margin-left: 6rem;
    }
  }
}

// 气泡
.callout {
  padding: 4rem;
  border-radius: 5px;
  .btn {
    justify-self: center;
    align-self: center;
  }
  .callout__content {
    text-align: center;
  }
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .callout {
    .grid--1x2 {
      grid-template-columns: 1fr auto;
    }
    .callout__content {
      text-align: left;
    }
    .btn {
      justify-self: start;
      margin: 0 2rem;
    }
  }
}

// collapsiable
.collapsiable__header {
  display: flex;
  justify-content: space-between;
  .icon {
    cursor: pointer;
  }
  .collapsiable__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  .collapsiable__chevron {
    transition: all 0.3s;

    transform: rotate(-90deg);
  }
}
.collapsiable__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsiable--expanded {
  .collapsiable__header .collapsiable__chevron {
    transform: rotate(0);
  }
  .collapsiable__content {
    max-height: 100vh;
    opacity: 1;
  }
}

// block
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
  h1,
  h2,
  h3 {
    color: #fff;
  }
}

// 斜切到右
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical)+4rem);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 86%);
}

// 斜切到左
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical)+4rem);
  clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

// nav
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  a {
    transform: translateY(8px);
  }
}
.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  & > a {
    color: #d2d0db;
    &:hover {
      color: #fff;
    }
  }
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.nav.collapsiable--expanded {
  .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
  }
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

// hero
.hero {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

// Domain Block
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

// block-card
.block-plans {
  .grid {
    gap: 4rem;
  }
  .card {
    max-width: 500px;
    margin: 0 auto;
  }
}

// .block .container{
//   align-items: center;
//   .media{
//     flex-direction: column;
//     .media__body{
//       margin: 2rem 0;
//       p{
//         margin-bottom: 3rem;
//       }
//     }
//   }
// }

// feature
.feature {
  gap: 4rem 2rem;
  align-items: center;
  margin: 12rem 0;
  &:first-of-type {
    margin-top: 6rem;
  }
}
.feature__heading {
  margin: 1rem 0;
}
.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

// block-showcase
.block-showcase__image>img {
  width: 100%;
}
.block-showcase{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}
@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
    & > img {
      width: auto;
      max-width: 700px;
    }
  }
}
