<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsiable collapsiable--expanded footer__section">
            <header class="collapsiable__header">
                <h2 class="collapsiable__heading footer__heading">项目1</h2>
                <svg class="icon icon--white collapsiable__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsiable__content">
               <ul class="list">
                <li><a href="#">Website Hosting</a></li>
                <li><a href="#">Website Hosting</a></li>
                <li><a href="#">Website Hosting</a></li>

               </ul>
            </div>
        </section>

        <section class="collapsiable footer__section">
            <header class="collapsiable__header">
                <h2 class="collapsiable__heading footer__heading">项目2</h2>
                <svg class="icon icon--white collapsiable__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsiable__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dignissimos ea, libero asperiores commodi
                sapiente sit iure facilis mollitia recusandae velit aut quisquam ut quibusdam cum nihil corrupti? Cumque,
                nesciunt?
            </div>
        </section>

        <section class="collapsiable footer__section">
            <header class="collapsiable__header">
                <h2 class="collapsiable__heading footer__heading">项目3</h2>
                <svg class="icon icon--white collapsiable__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsiable__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dignissimos ea, libero asperiores commodi
                sapiente sit iure facilis mollitia recusandae velit aut quisquam ut quibusdam cum nihil corrupti? Cumque,
                nesciunt?
            </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.svg" alt="">
            <p class="footer__copyright">
                Copyright 2022 JIDONGHAO
            </p>
        </section>
    </div>
</footer>