<section class="block container">
    <header class="block__header">
        <h2>云端主机持续升级</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, sit!</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">使用简单</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione natus autem cumque, voluptas ducimus
                beatae dolorum excepturi voluptatibus repellat dolor.</p>
            <a href="#" class="link-arrow">了解更多</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x,images/easy@2x.webp 2x">
            <source type="image/jpg" srcset="images/easy.jpg 1x,images/easy@2x.jpg 2x">
            <img class="feature__image" src="images/easy@2x.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">简单快速部署网站</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione natus autem cumque, voluptas ducimus
                beatae dolorum excepturi voluptatibus repellat dolor.</p>
            <a href="#" class="link-arrow">了解更多</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/fast.webp 1x,images/fast@2x.webp 2x">
            <source type="image/jpg" srcset="images/fast.jpg 1x,images/fast@2x.jpg 2x">
            <img class="feature__image" src="images/fast@2x.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#settings"></use>
                </svg>
            </span>
            <h3 class="feature__heading">更简单的博客</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione natus autem cumque, voluptas ducimus
                beatae dolorum excepturi voluptatibus repellat dolor.</p>
            <a href="#" class="link-arrow">了解更多</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/wordpress.webp 1x,images/wordpress@2x.webp 2x">
            <source type="image/jpg" srcset="images/wordpress.jpg 1x,images/wordpress@2x.jpg 2x">
            <img class="feature__image" src="images/wordpress@2x.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="feature__heading">7x24小时 专家支持</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione natus autem cumque, voluptas ducimus
                beatae dolorum excepturi voluptatibus repellat dolor.</p>
            <a href="#" class="link-arrow">了解更多</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/support.webp 1x,images/support@2x.webp 2x">
            <source type="image/jpg" srcset="images/support.jpg 1x,images/support@2x.jpg 2x">
            <img class="feature__image" src="images/support@2x.jpg" alt="">
        </picture>
    </article>
</section>