<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2 class="block__heading">友好的交互面板</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="images/ipad.webp 1x,images/ipad@2x.webp 2x">
            <source type="image/png" srcset="images/ipad.png 1x,images/ipad@2x.png 2x">
            <img src="images/ipad@2x.png" alt="">
        </picture>

        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">起步简单，升级方便</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, expedita at. Quam culpa fugiat illo nobis facere nulla vitae repellendus.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">起步简单，升级方便</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, expedita at. Quam culpa fugiat illo nobis facere nulla vitae repellendus.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">起步简单，升级方便</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, expedita at. Quam culpa fugiat illo nobis facere nulla vitae repellendus.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>