<div style="width: 50%;">
    <div class="card card--sencondary">
        <header class="card__header">卡片标题</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quia culpa iure ab autem rerum maxime recusandae ullam error tempore.
        </div>
    </div>
</div>

<div style="width: 50%;">
    <div class="card card--primary">
        <header class="card__header">卡片标题</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quia culpa iure ab autem rerum maxime recusandae ullam error tempore.
        </div>
    </div>
</div>