<div class="collapsiable collapsiable--expanded">
    <header class="collapsiable__header">
        <h2 class="collapsiable__heading">项目1</h2>
        <svg class="icon icon--white collapsiable__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsiable__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dignissimos ea, libero asperiores commodi
        sapiente sit iure facilis mollitia recusandae velit aut quisquam ut quibusdam cum nihil corrupti? Cumque,
        nesciunt?
    </div>
</div>
<div class="collapsiable collapsiable--expanded">
    <header class="collapsiable__header">
        <h2 class="collapsiable__heading">项目2</h2>
        <svg class="icon icon--white collapsiable__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsiable__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dignissimos ea, libero asperiores commodi
        sapiente sit iure facilis mollitia recusandae velit aut quisquam ut quibusdam cum nihil corrupti? Cumque,
        nesciunt?
    </div>
</div>