<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">专业用户的<br>云节点</h1>
            <p class="hero__tagline">一分钟就可以发布你的网站</p>
            <a href="#" class="btn btn--stretched btn--accent">了解更多</a>
        </header>

        <picture>
            <source type="image/webp" srcset="images/banner.webp 1x,images/banner@2x.webp 2x">
            <source type="image/png" srcset="images/banner.png 1x,images/banner@2x.png 2x">
            <img class="hero__image" src="images/banner.png" alt="">

        </picture>

    </div>
</section>